$primary: #212529;
$orange: #ff501d;
$orange-light:#fbc844;
$blue-primary: #4564fe;
$blue-light: #35b3ef;
$gray: #eef2f7;

// font-size
$font-size-monster: 4.0rem;
$font-size-gigantic: 3.6rem;
$font-size-biggest: 2.6rem;
$font-size-largest: 2.0rem;
$font-size-large: 1.8rem;
$font-size-base: 1.6rem;
$font-size-small: 1.4rem;
$font-size-smallest: 1.2rem;

