<section class="content-basic-wrapper">
    <h2>смм<span>щик с нуля</span></h2>
    <small>Наш курс &mdash; максимум практики. Вот темы, которые мы пройдем за месяц:</small>
    <div class="content-basic" id="contentBasic"></div>
    <div class="container-gelik">
        <div class="gelik">
            <img src="images/Gelik.png" alt="">
            <div class="wheel wheel__front">
                <img src="images/wheel.png" alt="">
            </div>
            <div class="wheel wheel__back">
                <img src="images/wheel.png" alt="">
            </div>

            <div class="stone-front stone-front__item-1">
                <img src="images/stone.png" alt="">
            </div>
            <div class="stone-front stone-front__item-2">
                <img src="images/stone.png" alt="">
            </div>
            <div class="stone-front stone-front__item-3">
                <img src="images/stone.png" alt="">
            </div>
            <div class="stone-front stone-front__item-4">
                <img src="images/stone.png" alt="">
            </div>
            <div class="stone-front stone-front__item-5">
                <img src="images/stone.png" alt="">
            </div>

            <span class="icon icon__instagram">
                <svg>
                    <use xlink:href="images/svg/sprite.symbol.svg#instagram"></use>
                </svg>
            </span>
            <span class="icon icon__user">
                <svg>
                    <use xlink:href="images/svg/sprite.symbol.svg#user"></use>
                </svg>
            </span>
            <span class="icon icon__ball">
                <span>smm</span>
            <img class="img-ball" src="images/ball.png" alt="">
        </span>

            <div class="stone-back stone-back__item-1">
                <img src="images/stone.png" alt="">
            </div>
            <div class="stone-back stone-back__item-2">
                <img src="images/stone.png" alt="">
            </div>
            <div class="stone-back stone-back__item-3">
                <img src="images/stone.png" alt="">
            </div>
            <div class="stone-back stone-back__item-4">
                <img src="images/stone.png" alt="">
            </div>
            <div class="stone-back stone-back__item-5">
                <img src="images/stone.png" alt="">
            </div>
        </div>
        <hr />
    </div>
</section>
