<section class="content-header">
    <div class="content-header__item">
        <p class="treatise">
            <span class="icon">
                <svg>
                    <use xlink:href="images/svg/sprite.symbol.svg#instagram"></use>
                </svg>
            </span>
            курс от инстаграм от создателей паразайт
        </p>
        <h1 class="title pre">Новый русский
            <span class="subtitle">сммщик</span>
        </h1>
        <div class="subscription">
            Если Вы читаете эти строки в 2020 году, у нас тревожные новости:
            мир становится цифровым. Пока продавцы и таксисты теряют
            рабочие места, специалисты в сфере диджитал становятся только
            востребованнее.
        </div>
        <a class="content-header__link" href="#form">Записаться на курс</a>
        <div class="content-header__speech">
            Наш курс - это возможность получить
            перспективную специальность за месяц
            обучения и начать зарабатывать на дому
        </div>
    </div>
    <div class="content-header__item">
        <span class="icon icon__instagram">
                <svg>
                    <use xlink:href="images/svg/sprite.symbol.svg#instagram"></use>
                </svg>
            </span>
        <span class="icon icon__user">
                <svg>
                    <use xlink:href="images/svg/sprite.symbol.svg#user"></use>
                </svg>
            </span>
        <span class="icon icon__rabbit">
                <svg>
                    <use xlink:href="images/svg/sprite.symbol.svg#rabbit"></use>
                </svg>
            </span>
        <span class="icon icon__plane">
                <svg>
                    <use xlink:href="images/svg/sprite.symbol.svg#plane"></use>
                </svg>
            </span>
        <span class="icon icon__ball">
            <img class="img-ball" src="images/ball.png" alt="">
        </span>
        <div class="container-shout">
            <img class="img-inner" src="images/shout.png" alt="">
        </div>
    </div>
</section>




