<section class="course" id="course">
    <h2>Кому подойдет курс:</h2>
    <div class="card">
        <img class="card__item card__item_img" src="images/person-3.png" alt="">
        <div class="card__item card__item_real">
            <h3>Вы специалист вымирающей профессии</h3>
            <p>Специалист, который хочет переквалифицироваться и продолжить развитие в диджитал.</p>
        </div>
        <div class="card__item card__item_content">
            <button>польза для вас</button>
            <ul class="card__item card__item_future">
            <li><span>Вы получите востребованную специальность вместо той, которая скоро умрет</span></li>
            <li><span>Начните новую карьеру уже через месяц</span></li>
        </ul>
        </div>
    </div>
    <div class="card">
        <img class="card__item card__item_img" src="images/person-4.png" alt="">
        <div class="card__item card__item_real">
            <h3>Вы домохозяйка</h3>
            <p>Вы домохозяйка или вышли в декретный отпуск, но чувствуете, что ваш потенциал &mdash; это
            куда больше, чем сидеть дома.</p>
        </div>
        <div class="card__item card__item_content">
            <button>польза для вас</button>
            <ul class="card__item card__item_future">
            <li><span>Возможность сразу делать карьеру в том, что вам интересно.</span></li>
            <li><span>Станете более независимой и сможете сами принимать решения</span></li>
        </ul>
        </div>
    </div>
    <div class="card">
        <img class="card__item card__item_img" src="images/person-2.png" alt="">
        <div class="card__item card__item_real">
            <h3>У вас собственный бизнес</h3>
            <p>У вас собственный бизнес и вы хотите разобраться в продвижении в соцсетях</p>
        </div>
        <div class="card__item card__item_content">
            <button>польза для вас</button>
            <ul class="card__item card__item_future">
                <li><span>Получите реальных клиентов из соцсетей благодаря знаниям, полученным на курсе</span></li>
                <li>
                    <span>
                        Вас больше не будет обманывать СММщик, потому что вы знаете его ремесло
                    </span></li>
            </ul>
        </div>
    </div>
    <div class="card">
        <img class="card__item card__item_img" src="images/person-1.png" alt="">
        <div class="card__item card__item_real">
            <h3>Вы студент</h3>
            <p>Хотите получить востребованную специальность вместо той ерунды, которой вас
                учат в университете.</p>
        </div>
        <div class="card__item card__item_content">
            <button>польза для вас</button>
            <ul class="card__item card__item_future">
            <li><span>Первая реальная работа после учебы</span></li>
            <li><span>Возможность сразу делать карьеру в том, что вам интересно</span></li>
        </ul>
        </div>
    </div>
</section>