<footer class="footer">
    <div class="contacts" id="contacts">
        <a class="contacts__link" href="tel:+74950000000">+7 495 000-00-00</a>
        <address class="pre">
            г.Москва.метроОктябрьская
            Ленинский проспект.дом5
            строение20
        </address>
    </div>
    <div class="about">
        <a class="about__link" href="">О нас</a>
        <a class="about__link" href="">Пользовательское соглашение</a>
        <a class="about__link" href="">Политика конфиденциальности</a>
    </div>
    <div class="social-wrapper">
        <ul class="social">
            <li class="social__item">
                <a href="https://vk.com/" title="vk">
                    <span class="social__svg">
                        <svg>
                            <use xlink:href="images/svg/sprite.symbol.svg#vk"></use>
                        </svg>
                    </span>
                </a>
            </li>
            <li class="social__item">
                <a href="https://www.facebook.com/" title="facebook">
                    <span class="social__svg">
                        <svg>
                            <use xlink:href="images/svg/sprite.symbol.svg#Facebook"></use>
                        </svg>
                    </span>
                </a>
            </li>
            <li class="social__item">
                <a href="https://www.instagram.com/" title="instagram">
                    <span class="social__svg">
                        <svg>
                            <use xlink:href="images/svg/sprite.symbol.svg#instagram"></use>
                        </svg>
                    </span>
                </a>
            </li>
            <li class="social__item">
                <a href="https://Github.com/github" title="Github">
                    <span class="social__svg">
                        <svg>
                            <use xlink:href="images/svg/sprite.symbol.svg#Github"></use>
                        </svg>
                    </span>
                </a>
            </li>
            <li class="social__item">
                <a href="https://www.linkedin.com/" title="Linkedin">
                    <span class="social__svg">
                        <svg>
                            <use xlink:href="images/svg/sprite.symbol.svg#linkedin"></use>
                        </svg>
                    </span>
                </a>
            </li>
        </ul>
        <a class="social__link" href="#form">Записаться</a>
    </div>
</footer>