<section class="container-form">
    <div class="form" id="form">
        <div class="form__caption">
            <h3>Оформить заявку</h3>
            <small>Заполните поля, чтобы забронировать</small>
        </div>
        <input type="text" placeholder="Имя">
        <input type="tel" placeholder="Телефон">
        <input type="email" placeholder="E-mail">
        <input class="submit" type="submit" value="Отравить заявку">
    </div>
    <div class="student">
            <p class="student__number">10%</p>
            <p class="student__caption">Скидки студентам</p>
            <p class="student__provided pre">По факту предьявления
                студенческого удостоверения
            </p>
            <p class="student__status">Я студент ˃</p>
    </div>
</section>