<section class="format">
<div class="container-img">
    <img src="images/remark.png" alt="">
</div>
<div class="format-class">
    <h3>Формат занятий &mdash; <span>вебинары с экспертами</span></h3>
    <p>Мы работаем вживую и интерактивно: занятия два раза в неделю по полтора часа, домашние задания,
        выпускная работа и гарантированная практика в реальной компании после выпуска с наших курсов.
    </p>
    <a class="format-class__link" href="#form">записаться</a>
</div>
</section>