<header class="header">
    <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="header__item">
        <li><a class="header__link" href="#course">Кому подойдет</a></li>
        <li><a class="header__link" href="#mentors">Спикеры</a></li>
        <li><a class="header__link" href="#sponsors">Партнеры</a></li>
        <li><a class="header__link" href="#packages">Пакеты участия</a></li>
        <li><a class="header__link" href="#contacts">Контакты</a></li>
    </ul>
    <a class="header__item" href="#form">Записаться</a>
</header>