<section class="mentors" id="mentors">
    <div class="mentors__caption"><h2>кто вас учит?</h2></div>
    <div class="container">
        <div class="mentor">
            <div class="container-img">
                <div class="container-img__item">
                    <img src="images/mentor-1.jpg" alt="">
                    <div class="container-img__button">
                        <span>
                            <svg>
                                <use xlink:href="images/svg/sprite.symbol.svg#setting"></use>
                            </svg>
                        </span>
                        <button class="button-img">Главный эксперт</button>
                    </div>
                </div>
            </div>
            <div class="mentor__top">
                <div class="mentor__header">
                    <h3>Антон Голубев</h3>
                    <div class="mentor-quest">
                        <span class="mentor-icon-quest">
                            <svg>
                                <use xlink:href="images/svg/sprite.symbol.svg#quest"></use>
                            </svg>
                        </span>
                        <div class="mentor__hover">
                            <h4>Почему Антон?</h4>
                            <p>В его кейсах уже более ста брендов. Он делал СММ для ресторанов,
                                супермаркетов, баров...
                            </p>
                        </div>
                    </div>
                </div>
                <p class="mentor__caption">Эксперт со стажем более 6 лет, фотограф, спикер, продюссер</p>
                <div class="mentor-items">
                    <div class="mentor__item">
                        <span class="mentor-icon">
                            <svg>
                                <use xlink:href="images/svg/sprite.symbol.svg#pencil"></use>
                            </svg>
                        </span>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                    <div class="mentor__item">
                        <span class="mentor-icon">
                            <svg>
                                <use xlink:href="images/svg/sprite.symbol.svg#instagram"></use>
                            </svg>
                        </span>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="mentor__item">
                        <span class="mentor-icon">
                            <svg>
                                <use xlink:href="images/svg/sprite.symbol.svg#info"></use>
                            </svg>
                        </span>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="mentor__item">
                        <span class="mentor-icon">
                            <svg>
                                <use xlink:href="images/svg/sprite.symbol.svg#file"></use>
                            </svg>
                        </span>
                        <p>Lorem ipsum.</p>
                    </div>
                    <div class="mentor__item">
                        <span class="mentor-icon">
                            <svg>
                                <use xlink:href="images/svg/sprite.symbol.svg#folder"></use>
                            </svg>
                        </span>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="mentor__item">
                        <span class="mentor-icon">
                            <svg>
                                <use xlink:href="images/svg/sprite.symbol.svg#desktop"></use>
                            </svg>
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mentor">
            <div class="container-img">
                <div class="container-img__item">
                    <img src="images/mentor-2.jpg" alt="">
                    <div class="container-img__button">
                        <span>
                            <svg>
                                <use xlink:href="images/svg/sprite.symbol.svg#setting"></use>
                            </svg>
                        </span>
                        <button class="button-img">эксперт</button>
                    </div>
                </div>
            </div>
            <div class="mentor__top">
                <div class="mentor__header">
                    <h3>Мария Терехова</h3>
                    <div class="mentor-quest">
                        <span class="mentor-icon-quest">
                            <svg>
                                <use xlink:href="images/svg/sprite.symbol.svg#quest"></use>
                            </svg>
                        </span>
                        <div class="mentor__hover">
                            <h4>Почему Мария?</h4>
                            <p class="mentor__caption">Эксперт со стажем 5 лет, дизайнер, спикер, филолог</p>
                        </div>
                    </div>
                </div>
                <p class="mentor__caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Excepturi, voluptas!
                </p>
                <div class="mentor-items">
                    <div class="mentor__item">
                        <span class="mentor-icon">
                            <svg>
                                <use xlink:href="images/svg/sprite.symbol.svg#user"></use>
                            </svg>
                        </span>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                    <div class="mentor__item">
                        <span class="mentor-icon">
                            <svg>
                                <use xlink:href="images/svg/sprite.symbol.svg#home"></use>
                            </svg>
                        </span>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="mentor__item">
                        <span class="mentor-icon">
                            <svg>
                                <use xlink:href="images/svg/sprite.symbol.svg#settings"></use>
                            </svg>
                        </span>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="mentor__item">
                        <span class="mentor-icon">
                            <svg>
                                <use xlink:href="images/svg/sprite.symbol.svg#search"></use>
                            </svg>
                        </span>
                        <p>Lorem ipsum.</p>
                    </div>
                    <div class="mentor__item">
                        <span class="mentor-icon">
                            <svg>
                                <use xlink:href="images/svg/sprite.symbol.svg#rabbit"></use>
                            </svg>
                        </span>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="mentor__item">
                        <span class="mentor-icon">
                            <svg>
                                <use xlink:href="images/svg/sprite.symbol.svg#plane"></use>
                            </svg>
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="men">
        <img src="images/men.png" alt="">
    </div>
</section>
