<section class="sponsors" id="sponsors">
    <div class="sponsors__caption">
        <h2>При поддержке</h2>
    </div>
    <div class="sponsors-content">
        <div class="sponsors-content__item">
            <h3>паразайт*</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, reprehenderit?
            </p>
        </div>
        <div class="sponsors-content__item">
            <h3>паразайт*</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, natus?
            </p>
        </div>
        <div class="sponsors-content__item">
            <h3>паразайт*</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eligendi?
            </p>
        </div>
        <div class="sponsors-content__item">
            <h3>паразайт*</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, ea?
            </p>
        </div>
        <div class="sponsors-content__item">
            <h3>паразайт*</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, rerum!
            </p>
        </div>
    </div>
</section>